/* GLOBAL */
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #fcfcfc;
  color: #1e1d1d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img {
  max-width: 100%;
}

/* First Section */
.section-wrapper-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 40px 120px;
}
.section-wrapper .information-wrapper-top {
}
.section-wrapper-first .information-wrapper-top .name-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-wrapper-first .information-wrapper-top .name-wrapper .name {
  font-size: 55px;
  color: #707070;
  font-weight: bold;
}
.section-wrapper-first .information-wrapper-top .occupation-wrapper {
  padding-top: 25px;
}
.section-wrapper-first
  .information-wrapper-top
  .occupation-wrapper
  .occupation {
  color: #1e1d1d;
  font-size: 30px;
  font-weight: bolder;
}
.section-wrapper-first .information-wrapper-top .address-wrapper {
  padding-top: 26px;
  padding-left: 60px;
}
.section-wrapper-first
  .information-wrapper-top
  .address-wrapper
  .address-list
  .address-list-item {
  color: #707070;
}
.section-wrapper .img-wrapper-top {
}
/* Second section */
.section-wrapper-second {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 40px 120px;
}
.section-wrapper-second .img-wrapper-middle {
}
.section-wrapper-second .information-wrapper-middle {
  padding-top: 25px;
  padding-left: 50px;
}
.section-wrapper-second .information-wrapper-middle .second-section-heading {
  color: #1e1d1d;
  font-size: 30px;
  font-weight: bolder;
}
.section-wrapper-second
  .information-wrapper-middle
  .second-section-first-content {
  padding-top: 40px;
  padding-bottom: 30px;
}
.section-wrapper-second
  .information-wrapper-middle
  .second-section-first-content
  p {
  color: #707070;
  width: 80%;
  text-align: justify;
  text-align-last: justify;
}
.section-wrapper-second
  .information-wrapper-middle
  .second-section-second-content
  p {
  color: #707070;
  width: 80%;
  text-align: justify;
  text-align-last: justify;
}
/* Third section */
.section-wrapper-third {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 40px 120px;
}
.section-wrapper-third .bottom-section-heading {
  color: #1e1d1d;
  font-size: 30px;
  font-weight: bolder;
}

.section-wrapper-third .services-wrapper {
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
}

.section-wrapper-third .services-wrapper .services {
  border: 1px solid #707070;
  border-width: thin;
  width: 33%;
  padding: 15px;
  margin: 40px 17px;
}
.section-wrapper-third .services-wrapper .services .services-img {
  padding-top: 5px;
}

.section-wrapper-third .services-wrapper .services .services-heading {
  margin: 34px 0px;
  font-size: 30px;
  font-weight: bolder;
}
.section-wrapper-third .services-wrapper .services .services-info {
  padding-bottom: 15px;
  width: 92%;
}
/* Footer */
.footer {
  margin: 0px 60px;
}
.footer p {
  padding-bottom: 80px;
}
